<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="FinTrakFundManagerEntities" connectionString="metadata=res://*/FundManagerEDMX.csdl|res://*/FundManagerEDMX.ssdl|res://*/FundManagerEDMX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\FINTRAKSQL;initial catalog=FinTrakFundManagerLBIC;persist security info=True;user id=sa;password=sqluser10$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="FinTrakIntegrationManagerEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\FINTRAKSQL;initial catalog=FinTrakIntegrationManager;persist security info=True;user id=sa;password=sqluser10$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" maxBufferSize="2147483647" transferMode="Streamed"/>
      </webHttpBinding>
    </bindings>
    <!--<basicHttpBinding>
    </basicHttpBinding>-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>